body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.bookinstances {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bookinstance {
  display: flex;
  flex-direction: column;
}

.genre-books {
  display: flex;
  flex-direction: column;
  gap: 20px;
}