<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <style>
  body{
    background-color:teal;
  }
  a{
    background:gray;
    color: black;
    width: fit-content
  }
</style>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div style="display: flex; flex-direction: column">
      <br />
      <a href="/categories">All Categories</a>
      <a href="/manufacturers">All Manufacturers</a>
      <a href="/cpus">All Cpus</a>
      <a href="/gpus">All Gpus</a>
      <br />
    </div>
  </body>
</html>
