<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
  body{
    background-color:teal;
  }
  a{
    background:gray;
    color: black;
    width: fit-content
  }
</style>
<body>
    <div style="display: flex; flex-direction: column">
      <h3>all links:</h3>
      <br />
      <a href="/">/Home</a>
      <a href="/categories">/categories</a>
      <a href="/manufacturers">/manufacturers</a>
      <a href="/cpus">/cpus</a>
      <a href="/gpus">/gpus</a>
      <br />
      <a href="/category/:id">/category/:id</a>
      <a href="/manufacturer/:id">/manufacturer/:id</a>
      <a href="/cpu/:id">/cpu/:id</a>
      <a href="/gpu/:id">/gpu/:id</a>
      <br />
    </div>
</body>
</html>