<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
  body{
    background-color:teal;
  }
  a{
    background:gray;
    color: black;
    width: fit-content
  }
</style>
<body>
    <div style="display: flex; flex-direction: column">
      <h3>all links:</h3>
      <br />
      <a href="/">Home</a>
      <a href="/categories">All Categories</a>
      <a href="/manufacturers">All Manufacturers</a>
      <a href="/cpus">All Cpus</a>
      <a href="/gpus">All Gpus</a>
      <br />
    </div>
</body>
</html>