@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    caret-color: transparent;
}

body{
    margin: 0;
}

#title{
    
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Lobster', sans-serif;
    color: rgb(0, 0, 0);
}


#header{
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    gap:30px;
    background-color: rgba(17, 120, 216, 0.692);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: 500;
}

#middle{
    display:flex;
    background-color: rgb(88, 83, 33);
    height: 90vh;
    justify-content: center;
    align-items: center;
    background: url('icon.svg');
    font-family: 'Josefin Sans', sans-serif;
}

#middle-window{
    background-color: rgba(0, 0, 0, 0.7);
    color:white;
    height: 70%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.header-button{
    caret-color: transparent;
    /* background-color: turquoise; */
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-button:hover{
    border-bottom: 3px solid white;
}

.card{
    height:100%;
    width:100%;
    display: flex;    
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
}