html{
    background-color: rgb(167, 168, 168);
}

#grids{
     background-color:rgb(150, 168, 115); 
    
    height: 700px;
    width: 700px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

div{
    box-sizing: border-box;
    
}

.cell{
    
    box-sizing: border-box;
    display:flex;
    align-items: center;
    justify-content: center;
    height:21.875px;
    width: 21.875px;
    background-color: white;

}

button
{
    margin: 20px;
    padding: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    align-content: center;
    background-color: rgb(255, 181, 121);
    color:rgb(0, 0, 0);
    border-radius: 10px;
    border-width: 2px;
    
}



#left-pane
{
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right:150px;
    margin-left:200px;
   
}

#rgb
{
    background-color: rgb(108, 179, 27);
    color: black;
}

label{
    font-size: 20px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;
    color:rgb(255, 255, 255);
}
