*{
    font-family: 'Poppins', sans-serif;
}


body{
    margin:0px;
}

#whole{
    display: grid;
    grid-template: 1fr 6fr / 1fr 5fr;
    height:100vh;
    width:100vw;
}

#header{

    grid-row: 1/2;
    grid-column: 1/-1;
    background-color: cornflowerblue;
    padding: 2%;

    box-sizing: border-box;
    font-size:40px;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

#sidebar{
    grid-row:2/-1;
    grid-column: 1/2;
    background-color: lightslategray;
    padding: 10%;
}

#projects{
    background-color:lightgrey;
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 40px;
}

#add_new_project_form{
    position: fixed;
    background-color: rgb(151, 58, 58);
    padding:40px;
    display: none;
    flex-direction: column;
    gap:20px;
    top:30%;
    left:45%;
    border-radius: 10%;
    border: 1px solid black;
    
}

#add_new_task_form{
    background-color: steelblue;
    position: fixed;
    display: none;
    flex-direction: column;
    padding:30px;
    border-radius: 10%;
    border: 1px solid black;
    gap:20px;
    top: 30%;
    left:40%;
}

.project{
    background-color: rgb(99, 180, 231);
    padding: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.task_box{
    background-color:rgb(99, 180, 231) ;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 30px;
    border: 2px dashed white;

}

.task{
    background-color: rgba(144, 238, 144, 0.795);
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
    border-radius: 20px;
}

#add_new_project{
    background-color: rgb(84, 214, 208);
    box-sizing: border-box;
    padding:15px;
    width: 80%;
    font-size: 20px;
    font-weight: 600;
    border-radius: 15px;
    border:1px solid black;
    box-shadow: 1px 1px ;
     
}

.project_title{
    font-size: 28px;
    font-weight: 600;
    justify-self: center;
    align-self: center;
}

.project_descr{
    padding-left: 40px;
    font-size: 18px;
}

.project_deadline{
    align-self: flex-end;
}

.buttons{
    display:flex;
}

.task_add_button{
    background-color: transparent;
    font-size: 18px;
    font-weight: 600;
    padding: 6px;
    border-radius: 10px;
    border: 1px solid black;
    width: 40%;
}

.task_add_button:hover{
    background-color: rgb(48, 112, 11);
    color:white;
}

.remove_project_button{
    background-color: transparent;
    color:black;
    font-size: 18px;
    font-weight: 600;
    padding: 6px;
    border-radius: 10px;
    border: 2px solid red;
    width: 40%;
}

.remove_project_button:hover{
    background-color: red;
    color:white;
    
}

.buttons{
    display: flex;
    justify-content: space-around;
}

.task_title{
    flex:1;
    max-width: 20%;
    font-size: 20px;
    font-weight: 600;
    /* border: 1px solid white; */

}

.task_descr{
    flex:1;
    max-width: 40%;
    font-size: 18px;
    /* border: 1px solid white; */

}




.task_starred{
    flex:1;
    max-width: 5%;
    /* border: 1px solid white; */
    text-align: center;
}



.remove_task_button{
    font-size: 15px;
    padding: 6px;
    border-radius: 10px;
    border: 1px solid black;
    margin-right:20px;
    width: 20%;
    height: 40px;
    background-color: rgb(144, 238, 144);
    color:black;
    font-weight:600;
    border: 2px dotted red;
}

.remove_task_button:hover{
    background-color: red;
    color:white;
}